.container{
    text-align: center;
    background-image: url(ban-do-the-gioi-anpic-11.webp);
    color: white;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: 1000px;
}